extends layout

block content
    div(class="form container")
        <form method="POST" action="/new" class="form post-message">
            p Compose your post
            label(for="userName") Name
            input(type="text", name="userName", placeholder="Enter a display name") 
            label(for="postText") Message:
            <textarea placeholder="Enter you message here" name="postText" cols="30" rows="10"></textarea>
            button(type="submit") Make Post
        </form>